<div class="container-fluid">

  <br/>



  <div class='card'>
    <div class="card-header">
      <div class="row">
        <div class="col-sm-8">
          {{title}}
        </div>
        <div class="col-sm-4 text-right">
          <button class="btn btn-info btn-md" value="New ECN" [routerLink]="['/ecns/0']">New ECN</button>
        </div>
      </div>
    </div>
    <div class="card-block">
      <div class="row" style="font-size: 55%;">

        <div class="col-sm-4 form-check">
          <label class="form-check-label " *ngFor='let status of statusList'>
        <input class="form-check-input"  type="checkbox" >  
        {{status}}   
      </label>
        </div>

        <div class="col-sm-4 form-check">
          <span class="border-top-0 rounded">
      <label class="form-check-label" *ngFor='let resource of resourceList'>
      <input class="form-check-input" type="checkbox" value="resource">
      {{resource}}
      </label>
      </span>
        </div>

        <div class="col-sm-4">
          <label class="form-check-label" *ngFor='let priority of priorityList'>
      <input class="form-check-input" type="checkbox" value="">
      {{priority}}
      </label>
        </div>
      </div>

        <div class="form-group row" style="font-size: 55%;">
          <label class="col-form-label col-sm-1 text-right" for="txtSearch">Search</label>
          <input class="form-control col-sm-2" name="txtSearch" type="text" [(ngModel)]="serText">
        </div>

      <div class="table-responsive table-hover">

        <table class="table  rounded" *ngIf='ecns && ecns?.length' style="font-size: 55%;">

          <thead class="thead-inverse">
            <tr>
              <th><a role="button" (click)="sortColumn('ecnNo')">ECN No</a></th>
              <th>Description</th>
              <th><a role="button" (click)="sortColumn('status')">Status <i class="fa fa-arrow-down" aria-hidden="true" [hidden]="!sortAsc"></i><i class="fa fa-arrow-up" aria-hidden="true" [hidden]="sortAsc"></i> </a></th>
              <th><a role="button" (click)="sortColumn('priority')">Priority</a></th>
              <th><a role="button" (click)="sortColumn('resource')">Resource</a></th>
              <th>Comments</th>

              <th></th>
            </tr>
            <tr>

          </thead>
          <tbody>
            <tr *ngFor='let ecn of ecns | ecnFilter:serText; let i = index'>

              <td><a style="font-size: 110%;" role="button" [routerLink]="['/ecns', ecn.id]">{{ecn.ecnNo}}</a> </td>
              <td>{{ecn.description}}</td>
              <td>{{ecn.status}}</td>
              <td>{{ecn.priority}}</td>
              <td>{{ecn.resource}}</td>
              <td style="font-size: 80%;">

                <div *ngFor='let comment of ecn.comments | commentSorter | arrayLimiter:2'>

                  <label class="font-italic"><span class="text-warning"> {{comment.date|date}} </span>: <span > {{comment.value }} </span></label>

                </div>

                <i role="button" style="font-size: 150%; padding-right: 5px;" data-toggle="modal" data-target="#commentsModal" (click)='setCurrentComment(i)'
                  class="fa fa-list" aria-hidden="true"></i>
                <i role="button" style="font-size: 150%; padding-left: 5px; " data-toggle="modal" data-target="#newCommentModal" (click)='setCurrentComment(i)'
                  class="fa fa-plus-square-o" aria-hidden="true"></i>
              </td>

              <td>

                <i role="button" class="fa fa-trash" aria-hidden="true" style="font-size: 150%;" data-toggle="modal" data-target="#deleteModal"
                  (click)='setCurrentComment(i)'></i>

                <!-- Modal -->
                <div id="deleteModal" class="modal modal" role="dialog">
                  <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                      <!--Modal Header-->
                      <div class="modal-header">

                        <h4 class="modal-title">Do you really want to delete this ECN?</h4>
                      </div>

                      <div class="modal-footer">
                        <div class="button-group">

                          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteEcn(i)">Ok</button>
                          <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </td>

            </tr>
          </tbody>
        </table>
      </div>

    </div>
    Ecn Id: {{currEcnId}}
  </div>

  <div id="commentsModal" class="modal modal-fade" role="dialog">
    <div class="modal-dialog modal-lg" *ngIf="currComment">
      <!-- Modal content-->
      <ecn-comment [inpType]='commentInpType' [comments]='currComment|commentSorter'></ecn-comment>
    </div>
  </div>


  <div id="newCommentModal" class="modal modal" role="dialog">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <new-comment (notify)='newCommentCreated($event)' [ecnId]='currEcnId'></new-comment>

    </div>



  </div>