<br>
<div class="col-10 mx-auto">

  <div class="row" [style.visibility] = "(data?.length > 0)?'visible':'hidden'" >
    <div class="col-md-6">
      <!--<div id="{{elementId}}"  [ngStyle]="{'width':'800px', 'height':'500px'}"></div>-->
      
      <dx-chart id="chart" [dataSource]="statusData" >
        <dxi-series valueField="pastValue" name="Past Week"></dxi-series>
        <dxi-series valueField="currValue" name="Current Week"></dxi-series>
        <dxo-common-series-settings argumentField="Key" type="bar" hoverMode="allArgumentPoints" selectionMode="allArgumentPoints">
         
          <dxo-label [visible]="false" [format]="{
                        type: 'fixedPoint',
                        precision: '0'
                    }">
          </dxo-label>
        </dxo-common-series-settings>
        <dxo-legend verticalAlignment="bottom" horizontalAlignment="center">
        </dxo-legend>

        <dxi-value-axis [maxValueMargin]="0.2">

        </dxi-value-axis>

      </dx-chart>
    </div>
      <div class="col-md-6 my-auto table-responsive  table-hover" *ngIf="data?.length > 0" >

        <table class="table rounded">
          <thead class="thead-default">
            <tr>  
              <th>Status</th>
              <th>Past Week</th>
              <th>Current Week</th>
              <th>Delta</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let status of statusData">
              <td>{{status.Key}}</td>
              <td>{{status.pastValue}}</td>
              <td>{{status.currValue}}</td>
              <td>{{status.currValue-status.pastValue}}</td>
            </tr>
          </tbody>
          <tfoot [ngStyle]="{'font-weight': 'bold'}">
            <td>Total</td>
            <td>{{sumPastValue}}</td>
            <td>{{sumCurrValue}}</td>
            <td></td>
          </tfoot>
        </table>
    
      </div>

  </div>
<br>
  
  <div class="my-auto">
      <div class="text-center">
        <h1 class="display-4">Pending ECNs</h1>
      </div>
    <div class="table-responsive table-hover">
      <table class="table rounded">
        <thead class="thead-default">
          <tr>
            <th>ECN No</th>
            <th>Title</th>
            <th>Status</th>
            <th>Resource</th>
            <th>Comment</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ecn of ecnData">
            <td>{{ecn.ecnNo}}</td>
            <td>{{ecn.title}}</td>
            <td>{{ecn.status}}</td>
            <td>{{ecn.worker}}</td>
            <td>{{ecn.lastComment}}</td>
          </tr>
        </tbody>
      </table>
    </div>
<br>

 <div class="my-auto">
      <div class="text-center">
        <h1 class="display-4">ECNs in CCB</h1>
      </div>
    <div class="table-responsive table-hover">
      <table class="table rounded">
        <thead class="thead-default">
          <tr>
            <th>ECN No</th>
            <th>Title</th>
            <th>Status</th>
            <th>Comment</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ecn of ecnDataCCB">
            <td>{{ecn.ecnNo}}</td>
            <td>{{ecn.title}}</td>
            <td>
              <span>{{ecn.status}}</span>
              <span  class="badge badge-primary">{{calcDays(ecn.statusDate)}}</span>
            </td>
            <td>{{ecn.lastComment}}</td>
          </tr>
        </tbody>
      </table>
    </div>    
  </div>
</div>
