<div class="col-10 mx-auto" >
<div class="text-center">
  <h1>  ECN Summary</h1>
</div>
<div >
  <dx-chart 
    id="chartTimeline"
    [dataSource]="timelineData" [rotated]="true"
    [barWidth]="0.05"
    
     >
     <dxi-series valueField="y" name="Timeline"  type="bar" color="blue">
          <dxo-tooltip [enabled]="false"></dxo-tooltip>   
     </dxi-series>

    <dxi-series valueField="Submitted" name="Submitted" color="purple" >
     </dxi-series>
     
    <dxi-series valueField="Pending" name="Pending" color="grey">
     </dxi-series>

     <dxi-series valueField="ProtoReleased" name="Proto Released" color="skyblue">
     </dxi-series>

      <dxi-series valueField="CCB" name="CCB" color="orange" >
     </dxi-series>

      <dxi-series valueField="Rejected" name="Rejected" color="red" >
     </dxi-series>

    <dxi-series valueField="Released" name="Released" color="yellow" >
     </dxi-series>

     <dxi-series valueField="Implemented" name="Implemented" color="yellowgreen"  >
        <dxo-point symbol="square" > </dxo-point>
     </dxi-series>

    <dxo-common-series-settings
        argumentField="ecnNo"
        type="scatter"
        hoverMode="allSeriesPoints"
        selectionMode="allSeriesPoints"
        >
        maxValueMargin = "0.2"
        <dxo-point size="15"> </dxo-point>
        <dxo-label
            [visible]="false"
           >
        </dxo-label>
        
       
        <dxo-border [visible]="false" color="black" [width]="1" [dashStyle]="solid"></dxo-border>
    </dxo-common-series-settings>
    
    <dxo-bar>
          <dxo-legend
            [visible]="false"
           >
        </dxo-legend>
        </dxo-bar>
        
    <dxo-tooltip [enabled]="true"  [customizeTooltip]="customizeTooltip">

    </dxo-tooltip>

     <!--<dxo-crosshair
        [enabled]="true"
        color="#949494"
        [width]="1"
        dashStyle="dot">
        <dxo-label
            [visible]="true"
            backgroundColor="#949494">
            <dxo-font
                color="#fff"
                [size]="12">
            </dxo-font>
        </dxo-label>
    </dxo-crosshair>-->
        <dxo-legend
        verticalAlignment="bottom"
        horizontalAlignment="center">
    </dxo-legend>

    <dxi-value-axis  
      [maxValueMargin] = "0.2">
      
    </dxi-value-axis>

    <!--<dxo-export [enabled]="false"></dxo-export>-->
</dx-chart>
</div>

</div>

