<div class="  container-fluid">
<br>
    <!--Alret-->
    <div class="row justify-content-center"  > 
      <div class="col-lg-7 col-md-10"> 
        <div class=" alert alert-dismissable" role="alert" *ngIf="blnEcnSaved"
         [ngClass]="{'alert-danger': errorMsg, 'alert-success' : !errorMsg }">
               <button class="close" data-dismiss="alert"><span>&times;</span></button>
             <h5> <i class="fa fa-check" *ngIf="!errorMsg" style="color:green;">  ECN Saved </i> </h5>
            <h5>  <i class="fa fa-ban" *ngIf="errorMsg" style="color:red;">  {{ errorMsg.error.Message }}</i></h5>
        </div>
      </div>
    </div>

    <!--Wait spinner-->
    <div class="row justify-content-center">
      <div class="col-5 text-center" >
          <i *ngIf="!blnEcnLoaded||blnEcnSaving" class="fa fa-spinner  fa-pulse "></i>
      </div>
    </div>



    <!--New ECN Form-->
    <div class=" row justify-content-center">
        <div class="col-lg-7 col-md-9 col-sm-11">
      
          <form [formGroup]='newEcnForm'
          class="form-container"
          >

          <!--Title-->
           <div class="row">
        <label   class="col text-center form-title  "><u> {{(!(this.ecn?.id ==0))?this.ecn?.ecnNo:(!isTask.checked?"New ECN":"New Task")}}</u> </label>
    </div>
            <!--ECN No-->
            <div class=" form-group ">
              <label class="col  mb-0 label-header" for="ecnNoId">No </label>
              <div class="col input-group">
                <input class="form-control " 
                [ngClass]="{'is-invalid': ecnErrorMessage, 'is-valid' : isEcnValid }"
                  type="text" placeholder="Required (min. 7 characters)" id="ecnNoId"
                  formControlName="ecnNo">
                  <div class="input-group-append">
                    <span class="input-group-text">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" #isTask class="custom-control-input" formControlName="isTask" id="isTaskId">
                        <label class="custom-control-label label-header" for="isTaskId">Task</label>
                    </div>
                    </span>
                  </div>
                  <div class="input-group-append"  >
                    <span class="input-group-text">
                     <div class="custom-control custom-checkbox" >
                        <input class="custom-control-input" type="checkbox" #isBuy formControlName="blnBuyPart" id="isBuyId">
                        <label class="custom-control-label label-header" for="isBuyId">Buy Part?</label>
                   </div>
                    </span>
                  </div>
                <div class="form-text invalid-feedback" *ngFor='let error of ecnErrorMessage'>
                  <i class="fa fa-exclamation-circle" aria-hidden="true"> {{error}}</i> 
                </div>
              </div>
            </div>

            <!--Title-->
            <div class=" form-group">
              <label class=" col  mb-0 label-header" for="titleId">title</label>
              <div class="col " >
                <input class="form-control form-control" 
                [ngClass]="{'is-invalid':(newEcnForm.get('title').touched || newEcnForm.get('title').dirty) && !newEcnForm.get('title').valid, 'is-valid': (newEcnForm.get('title').valid && newEcnForm.get('title').dirty )}"
                type="text" placeholder="Required" id="titleId" formControlName="title">
                <div class="form-text invalid-feedback">
                  <i class="fa fa-exclamation-circle" aria-hidden="true"></i> Please enter a valid Title
                </div>
              </div>
            </div>

            <!--Supplier-->
            <div class="row" *ngIf= "!isTask.checked">
               <!--Notification Send Date-->
              <div class="col form-group" *ngIf= "isBuy.checked">
                <label class="col mb-0 label-header" for="notiSentDateId">Notification Sent Date </label>
                <div class="col">
                <input type="text" class="form-control" id="notiSentDateId" formControlName="notiSentDate"/>
                </div>
              </div>
              <!--Notification Received Date-->
              <div class="col form-group" *ngIf= "isBuy.checked">
                <label class="col mb-0 label-header" for="notiRecDateId">Notification Received Date </label>
                <div class="col">
                <input type="text" class="form-control" id="notiRecDateId" formControlName="notiRecDate"/>
              </div>
              </div>
            </div>

            <!--Priority-->
            <div class=" form-group">
              <label class=" col  mb-0 label-header" for="priorityId">Priority </label>
              <div class="col" >
                <input class="form-control form-control" 
                [ngClass]="{'is-invalid':priorityErrorMessage, 'is-valid': isPriorityValid}"
                type="number" min="1" placeholder="1-10" id="priorityId"
                  formControlName="priority">
                <div class="form-text invalid-feedback" *ngFor='let error of priorityErrorMessage'>
                  <i class="fa fa-exclamation-circle" aria-hidden="true"> {{error}}</i> 
                </div>
              </div>

            </div>

            <div class="row">
            <!--ECN Originator-->
            <div class="col form-group">
              <label class="col  mb-0 label-header" for="originatorFormId">Originator </label>
              <div class="col dropdown">

                <select class="form-control" id="originatorFormId" formControlName="originatorId">
                      <option *ngFor='let user of userList'  [value]=user.Key>
                        {{user.Value}}
                      </option>
                    </select>

              </div>
            </div>

            <!--Current Worker-->
            <div class="col form-group ">
              <label class="col mb-0 label-header" for="currentWorkerFormId">Resource </label>
              <div class="dropdown col">

                <select class="form-control" id="currentWorkerFormId" formControlName="currentWorkerId">
                      <option ></option>
                      <option *ngFor='let user of userList' [value]=user.Key>
                        {{user.Value}}
                      </option>
                    </select>

              </div>
            </div>
            </div>

              <div class="row">
            <!--Project-->
            <div class="col form-group ">
              <label class="col mb-0 label-header" for="dropdownMenuButton">Project </label>
              <div class="dropdown col">

                <select class="form-control form-control" formControlName="projectId">
                    <option *ngFor='let project of projectList'  [value]=project.Key>
                    {{project.Value}}
                    </option>
                  </select>

              </div>
            </div>

            <!--Status-->
            <div class="col form-group ">
              <label class="col mb-0 label-header" for="dropdownMenuButton">Status </label>
              <div class="col dropdown">

                <select class="form-control form-control" formControlName="statusId">
                      <option *ngFor='let status of statusList'  [value]=status.Key>
                        {{status.Value}}
                      </option>
                    </select>

              </div>
            </div>

              </div>

            <!--Status Date-->
            <div *ngIf="!isTask.checked" class="form-group">
              <label class="col  mb-0 label-header" for="statusDateId">Status Date </label>
              <div class="col">
                <input class="form-control" 
                [ngClass]="{'is-invalid':(newEcnForm.get('statusDate').touched || newEcnForm.get('statusDate').dirty) && !newEcnForm.get('statusDate').valid, 'is-valid': (newEcnForm.get('statusDate').valid && newEcnForm.get('statusDate').dirty )}"
                type="text" id="statusDateId" formControlName="statusDate"> 
              <div class="form-text invalid-feedback">
                  <i class="fa fa-exclamation-circle"   aria-hidden="true"></i> Please enter a valid status date
              </div>
              <!--<div class="input-group-append">
                  <input type="date"/>
              </div>-->
              </div>
            </div>
    
             <div class="row">

            <!--Start Date-->
            <div *ngIf="isTask.checked" class="col form-group">
              <label class="col  mb-0 label-header" for="startDateId">Start Date </label>
              <div class="col" >
                <input class="form-control form-control" 
                [ngClass]="{'is-invalid':(newEcnForm.get('startDate').touched || newEcnForm.get('startDate').dirty) && !newEcnForm.get('startDate').valid, 'is-valid': (newEcnForm.get('startDate').valid && newEcnForm.get('startDate').dirty )}"
                type="text" id="startDateId" formControlName="startDate"> 
              <div class="form-text invalid-feedback">
                  <i class="fa fa-exclamation-circle"   aria-hidden="true"></i> Please enter a valid start date
              </div>
              </div>
            </div>

            
            <!--End Date-->
            <div *ngIf="isTask.checked" class="col form-group">
              <label class="col  mb-0 label-header" for="endDateId">End Date </label>
              <div class="col" >
                <input class="form-control" 
                [ngClass]="{'is-invalid':(newEcnForm.get('endDate').touched || newEcnForm.get('endDate').dirty) && !newEcnForm.get('endDate').valid, 'is-valid': (newEcnForm.get('endDate').valid && newEcnForm.get('endDate').dirty )}"
                type="text"  id="endDateId" formControlName="endDate"> 
              <div class="form-text invalid-feedback">
                  <i class="fa fa-exclamation-circle"   aria-hidden="true"></i> Please enter a valid end date
              </div>
              </div>
            </div>
          
          </div>


           
            <!--Description-->
            <div class="form-group">
              <label class="col  mb-0 label-header" for="descriptionId">Description</label>
              <div class="col">

                <textarea class="form-control " rows="4" id="descriptionId" formControlName="description"> </textarea>

              </div>
              <div >
                <small class="form-text text-muted text-danger" *ngIf="newEcnForm.get('description').touched && newEcnForm.get('description').errors"> Please enter a valid description</small>
              </div>
            </div>

            <!--Tags-->
            <div class="form-group">
              <label class="col  mb-0 label-header" for="tagsId">Tags</label>
              <div class="col">

                <input type="text" class="form-control form-control" id="tagsId" formControlName="tags" placeholder="comma separated">

              </div>
              <div>
                <small class="form-text text-muted text-danger" *ngIf="newEcnForm.get('tags').touched && newEcnForm.get('tags').errors"> Please enter valid tags</small>
              </div>
            </div>

              <div class="col">
            <div class="row">
                <div class="col "> 
                  <input type="button" class="btn btn-secondary w-100" value="Back" [routerLink]="['/',uId,pId,'ecns']"/>
                </div>
                <div class="col">
                  <input type="button" class="btn btn-success w-100" value="Save" (click)="saveEcn()" [disabled]='!newEcnForm.valid'>
                </div>
              </div>
            </div>
               <br>
          </form>
        </div>
       
      <!--<div class="col-1"></div>-->
    </div>
  
   
</div>

<!--<br> formValue = {{newEcnForm.value | json}}-->
<!--<br>
{{ecnErrorMessage}}-->
