<div class="container-fluid">
  <br>
  <div class="card">

    <div class="card-header">
   <span class="text-info"> {{pageTitle}} </span>
    </div>

    <div class="card-block " style="font-size: 75%;">

      <div >

        <form (ngSubmit)="saveEcn()" [formGroup]='newEcnForm' >

          <!--ECN No-->
          <div class="row form-group">
            <label class=" col-sm-2 col-form-label text-right" for="ecnNoId">ECN No.: </label>
            <div class="col-sm-4 " [ngClass]="{'has-danger': ecnErrorMessage, 'has-success' : isEcnValid }">

              <input class="form-control form-control-lg form-control-success" type="text" placeholder="Required (min. 7 characters)" id="ecnNoId" 
                formControlName="ecnNo">
         

             <small class="form-text" *ngIf="ecnErrorMessage">
               <ul class="fa-ul ">
              <li  class="text-muted text-danger"
              *ngFor='let error of ecnErrorMessage'>
                  <i class="fa-li fa fa-exclamation-circle" aria-hidden="true"></i> {{error}}
              </li>
               </ul>
            </small> 

               </div>

          </div>

          <!--Priority-->
          <div class="row form-group">
            <label class=" col-sm-2 col-form-label text-right" for="priorityId">Priority: </label>
            <div class="col-sm-4 " [ngClass]="{'has-danger':priorityErrorMessage, 'has-success': isPriorityValid}">

              <input class="form-control form-control-lg form-control-success" type="number" placeholder="1-10" id="priorityId" formControlName="priority">

             <small class="form-text" *ngIf="priorityErrorMessage">
               <ul class="fa-ul">
              <li  class="text-muted text-danger "
              *ngFor='let error of priorityErrorMessage'>
                  <i class="fa-li fa fa-exclamation-circle" aria-hidden="true"></i> {{error}}
              </li>
               </ul>
            </small> 

            </div>
            
 
          </div>

          <!--Resource-->
          <div class="row form-group">
            <label class=" col-sm-2 col-form-label text-right" for="resourceId">Resource: </label>
            <div class="col-sm-4 " [ngClass]="{'has-danger':(newEcnForm.get('resource').touched || newEcnForm.get('resource').dirty) && !newEcnForm.get('resource').valid, 'has-success': (newEcnForm.get('resource').valid && newEcnForm.get('resource').dirty )}">

              <input class="form-control form-control-lg form-control-success" type="text" placeholder="Required (min 2 characters)" id="resourceId"
                formControlName="resource">
            </div>
            <div class="col-sm-6 col-form-label">
              <small class="form-text text-muted text-danger" *ngIf="(newEcnForm.get('resource').touched && (newEcnForm.get('resource').errors))">
               Please enter a valid resource name</small>
            </div>

          </div>

          <!--Status-->
          <div class="row form-group">
            <label class=" col-sm-2 col-form-label text-right" for="statusId">Status: </label>
            <div class="col-sm-4 " [ngClass]="{'has-danger':(newEcnForm.get('status').touched || newEcnForm.get('status').dirty) && !newEcnForm.get('status').valid, 'has-success': (newEcnForm.get('status').valid && newEcnForm.get('status').dirty )}">
              <input class="form-control form-control-lg form-control-success" type="text" placeholder="Required (min. 3 characters)" id="statusId"
                formControlName="status">


            </div>
            <div class="col-sm-6 col-form-label">
              <span *ngIf="(newEcnForm.get('status').touched) && newEcnForm.get('status').errors">
                <small class="form-text text-muted text-danger" *ngIf="newEcnForm.get('status').errors.required" >Please enter a valid status</small>
                <small class="form-text text-muted text-danger" *ngIf="newEcnForm.get('status').errors?.minlength" >Status should be a minimum of 3 characters.</small>
              </span>
            </div>
          </div>

          <!--Description-->
          <div class="row form-group">
            <label class=" col-sm-2 col-form-label text-right" for="descriptionId">Description: </label>
            <div class="col-sm-4 ">

              <textarea class="form-control form-control-lg" rows="2" id="descriptionId" formControlName="description"> </textarea>

            </div>
            <div class="col-sm-6 col-form-label">
              <small class="form-text text-muted text-danger" *ngIf="newEcnForm.get('description').touched && newEcnForm.get('description').errors"> Please enter a valid description</small>
            </div>
          </div>

          <!--Tags-->
          <div class="row form-group">
            <label class=" col-sm-2 col-form-label text-right" for="tagsId">Tags: </label>
            <div class="col-sm-4 ">

              <input type="text" class="form-control form-control-lg" id="tagsId" formControlName="tags"  placeholder="comma separated"> 

            </div>
            <div class="col-sm-6 col-form-label">
              <small class="form-text text-muted text-danger" *ngIf="newEcnForm.get('tags').touched && newEcnForm.get('tags').errors"> Please enter valid tags</small>
            </div>
          </div>

        </form>
      </div>
    </div>



    <div class="card-footer">
      <div>

        <input type="button" class="btn btn-outline-primary " value="Save" (click)="saveEcn()" [disabled]='!newEcnForm.valid'>

        <input type="button" class="btn btn-outline-primary" value="Back" [routerLink] = "['/ecns']" />

      </div>
    </div>
  </div>

</div>

<!--formValue = {{newEcnForm.value | json}}
<br>
{{ecnErrorMessage}}-->
