<div class="card">
  <!--Modal Header-->
  <div class="card-header">
    <div class="row">

      <h4 class="col-sm-8">ECN Comments</h4>
      <div class="col-sm-4 text-right" [hidden]="!commentSaved">
        <i class="fa fa-check-square-o" style="color:green; font-size: 55%;" aria-hidden="true"> Updated</i>
      </div>
      <div class="col-sm-4 text-right" [hidden]="!commentDeleted">
        <i class="fa fa-trash-o" style="color:red; font-size: 55%;" aria-hidden="true"> Deleted</i>

      </div>
    </div>
  </div>

  <div class="card-block p-1" *ngIf='comments'>
    <ul class="list-group " style="font-size: 50%;">
      <li class="list-group-item border-0 p-1" *ngFor='let comment of comments | arrayLimiter:20; let i=index'>

          
        <div class="input-group">
          <span   class="input-group-addon text-warning"> {{comment.date|date}} </span>
          <input class="form-control" [(ngModel)]='comment.value'>
          <span class="input-group-addon"><i role="button" class="fa fa-floppy-o" aria-hidden="true" (click)='saveComment(comment.id)'></i></span>
           <span class="input-group-addon"><i role="button" class="fa fa-trash" aria-hidden="true" (click)='deleteComment(comment.id)'></i></span>
        </div>
      </li>
    </ul>
  </div>
</div>
