<div class="card">
  <!--Modal Header-->
  <div class="card-header">
    <div class="row">

      <h4 class="col-sm-8">ECN Comments</h4>
      <div class="col-sm-4 text-right" >
        <i role="button" (click)="changeInputType()" class="fa fa-pencil-square-o" aria-hidden="true"></i>
     
      </div>
    </div>
  </div>

  <div class="card-block" *ngIf='comments'>
    <ul class="list-group" style="font-size: 50%;">
      <li class="list-group-item" *ngFor='let comment of comments | arrayLimiter:20'>

         <label class="font-italic"><span *ngIf='!inpType'><i role="button" class="fa fa-trash" aria-hidden="true"></i></span>  <span   class="text-warning"> {{comment.date|date}} </span>: <span   *ngIf='inpType'> {{comment.value }} </span></label>        
        <input class="form-control" [(ngModel)]='comment.value' *ngIf='!inpType'>
      </li>
    </ul>
  </div>
</div>