<div>
  <p>{{comments.length}}</p>
  <div *ngFor='let comment of comments | arrayLimiter:20'>
    <div>
      <p class=" badge badge-default font-weight-bold text-info">{{comment.date|date}}</p>
    </div>
    <div>
      <label class="font-italic">{{comment.comment}} </label>
    </div>

  </div>


  <hr>
  <div class="input-group">
    <input type="date">
    <input type="text" class="form-control" placeholder="New Comment">
    <input type="button" class=" btn btn-outline-primary btn-sm input-group-addon" (click)='addComment(i)' value="Add">
  </div>
</div>