<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <span class="navbar-brand ">
    VERTIV
  </span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/home']">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Projects
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/',0,0,'ecns']" routerLinkActive="active">All Projects</a>
          <a *ngFor="let project of projectList" class="dropdown-item" [routerLink]="['/',0,project.id,'ecns']" routerLinkActive="active">{{project.name}}</a>    
        </div>
      </li>

            <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Users
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/',0,0,'ecns']" routerLinkActive="active">All Users</a>
          <a *ngFor="let user of userList" class="dropdown-item" [routerLink]="['/',user.id,0,'ecns']" routerLinkActive="active">{{user.name}}</a>
        </div>
      </li>

    </ul>

  </div>
</nav>

