<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top bmar"
>
  <span class="navbar-brand ">
    VERTIV
  </span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/home']">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" *ngIf='!projectList' >
          <span class="navbar-brand ">
              <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
          </span>
      </li>
      <li class="nav-item dropdown" *ngIf='projectList'  >
        <a class="nav-link dropdown-toggle"  href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Projects
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

              <a class="dropdown-item" [routerLink]="['/',0,0,'ecns']" routerLinkActive="active">All Projects</a>
              <a *ngFor="let project of projectList" class="dropdown-item" [routerLink]="['/',0,project.id,'ecns']" routerLinkActive="active">{{project.name}}</a>    
        
        </div>
      </li>

      <!--user list-->
      <li class="nav-item" *ngIf='!userList' >
          <span class="navbar-brand ">
              <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
          </span>
      </li>
      <li class="nav-item dropdown" *ngIf='userList' >
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Users
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/',0,0,'ecns']" routerLinkActive="active">All Users</a>
          <a *ngFor="let user of userList" class="dropdown-item" [routerLink]="['/',user.id,0,'ecns']" routerLinkActive="active">{{user.name}}</a>
        </div>
      </li>

      <!--summary-->
      <li class="nav-item" *ngIf='!projectList' >
          <span class="navbar-brand ">
              <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
          </span>
      </li>
      <li class="nav-item dropdown" *ngIf='projectList'>
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Summary
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['/',0,0,'summary']" routerLinkActive="active">All Projects</a>
            <a *ngFor="let project of projectList" class="dropdown-item" [routerLink]="['/',0,project.id,'summary']" routerLinkActive="active">{{project.name}}</a>    
        </div>
      </li>

      <!--timeline-->
      <li class="nav-item" *ngIf='!projectList' >
          <span class="navbar-brand ">
              <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
          </span>
      </li>
      <li class="nav-item dropdown" *ngIf='projectList' >
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Timeline
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/',0,'timeline']" routerLinkActive="active">All Projects</a>
          <a *ngFor="let project of projectList" class="dropdown-item" [routerLink]="['/',project.id,'timeline']" routerLinkActive="active">{{project.name}}</a>    
        </div>
      </li>
    </ul>

  </div>

</nav>
