<div role="navigation" class="navbar navbar-toggleable-md  navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand"  role="button" [routerLink]="['/home']" >HOME</a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          ECNs
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" [routerLink]="['/',0,'ecns']" routerLinkActive="active">All</a>
          <a class="dropdown-item" [routerLink]="['/',1,'ecns']" routerLinkActive="active">Project 1</a>
          <a class="dropdown-item" [routerLink]="['/',2,'ecns']" routerLinkActive="active">Project 2</a>
        </div>
      </li>
    </ul>
  </div>
</div>