<div class="container-fluid">
  <br>
  <div class="card">
    <form [formGroup]="newCommentForm">
      <div class="card-header">
        New Comment
      </div>
      <div class="card-block" style="font-size: 75%;">
        <div class="row form-group">

            <label class="col-sm-3 col-form-label text-right" for="dateId">Date:</label>

          <!--do not apply the above col-sm-8 class to the input-group div. Won't work. Need a wrapper div-->
          <!--  <div  class="col-sm-8">
            
              <div class="input-group" > 
                <input class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #d="ngbDatepicker">
                <div class="input-group-addon" (click)="d.toggle()">
                  <i class="fa fa-calendar" aria-hidden="true" style="width: 1.2rem; height: 1rem; cursor: pointer;"></i>
                </div>
              </div>           
           </div>-->

            <input type="text" class="form-control col-sm-8" id="dateId" formControlName="date">
          </div>
        

              <div class="row form-group">
                <label class="col-sm-3 col-form-label text-right" for="ecnId">Ecn Id:</label>
               
                  <input type="number" min="1" max="100" class="form-control col-sm-8" id="ecnId" formControlName="ecnId">
        
              </div>

        <div class="row form-group">
          <label class="col-sm-3 col-form-label text-right" for="commentId">Comment:</label>
          
            <textarea rows="3" class="form-control col-sm-8" id="commentId" formControlName="value"> </textarea>

        </div>

</div>

      <div class="card-footer">
        <input type="button" class="btn btn-info" (click) = "saveComment()" Value="Save">
      </div>
    </form>

  </div>
</div>