
  <div class="card">
   
      <div class="card-header">
       <h4> New Comment </h4>
      </div>
      <div class="card-body">

      <form [formGroup]="newCommentForm">
       
         <div class="row form-group">

          <label class="col-sm-3 col-form-label text-right" for="dateId">Date:</label>

          <!--do not apply the  col-sm-8 class to the input-group div. Won't work. Need a wrapper div-->
          <input type="text" class="form-control col-sm-8" id="dateId" formControlName="date">
       </div>


        <div class="row form-group">
          <label class="col-sm-3 col-form-label text-right" for="commentId">Comment:</label>

          <textarea rows="3" class="form-control col-sm-8" id="commentId" formControlName="value"> </textarea>

        </div>
   </form>
      </div>


      <div class="card-footer">
        <input type="button" class="btn btn-primary" [disabled]='!newCommentForm.valid' (click)="saveComment()" Value="Save">

        <span *ngIf="blnCommentAdded">
        <i class="fa fa-check-square-o" style="color:green; font-size:100%;"> Comment Added</i>
      </span>
      <span style="font-size:100%" *ngIf="blnCommentSaving" >
        <i class="fa fa-spinner fa-pulse "></i>
      </span>
      </div>

 
    <!--Form Value: {{newCommentForm.value|json}}-->
  </div>


