<div class="card">

<div class="card-header">
  New ECN
</div>

<div class="card-block">

<form class="form-inline" style="font-size: 50%;">
 
      <div class="form-group">
        <label class="control-label" for="ecnNoId">ECN No.: </label>
          <input class="form-control" type="text" required minlength="6" [(ngModel)] = "ecn.ecnNo"
           id="ecnNoId" name="ecnNo" #ecnNoVar = "ngModel" />

           <span class="help-block" *ngIf="ecnNoVar.touched && ecnNoVar.errors">Enter a valid ECN No.</span>
        
      </div>

</form>

</div>
</div>

  